@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display_regular.woff2') format('woff2'),
       url('/fonts/sf-pro-display_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display_semibold.woff2') format('woff2'),
       url('/fonts/sf-pro-display_semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: 'SF Pro Display', sans-serif;

}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/sf-pro-text_regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}